*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: font1;
    src: url('../font/San_Francisco_Pro/OTF/SFCompactText-BoldItalic.otf');
}
.layout{
    position: relative;
    width:100%;
}
.layout-body{
    position: fixed;
    width:100%;
    z-index: 2000;
}
/*--Địa Chỉ và Phone--*/
.diachi-phone-layout{
    background-color: rgb(248, 243, 238);
    width:100%;
    z-index: 1;
}
.diachi-phone{
    display: flex;
    height:30px ;
    text-align: center;
    justify-content: center;
    align-items: center;
    transform: translate(-30px,7px);
    z-index: 1;
    font-size: 14px;
}
.diachi a:hover , .phone a:hover{
    color:rgb(1, 34, 25) ;
}

.diachi-phone a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(112, 67, 4);
}
.diachi p , .phone p{
    padding-right: 5px;
}
.diachi i{
    color:rgb(112, 67, 4) ;
}
.phone i{
    color: rgb(112, 67, 4);
}
.diachi i:hover , .phone i:hover{
    color:rgb(1, 34, 25) ;
}
.phone{
    margin-left: 50px;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(1, 34, 25);
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

/*--Logo--*/
.logo  img{
    flex: 1;
    width: 80px;
}
.logo{
    transform: translateX(30px);
}
/*--Menu--*/
.menu{
    flex: 3;
}
.menu {
    display: flex;
    transform: translateX(120px);
}
.menu  li{
    list-style: none;
}
.menu a{
    text-decoration: none;
    display: block;
    color:whitesmoke ;
    padding-inline: 25px;
    font-size:1.5rem;
    font-family: font1;
}
.dropdown-menu a{
    color: rgb(1, 34, 25);
    background: none;
}
/*--Search--*/
.search{
    flex: 1;
    transform: translateX(50px);
}
.search form:first-child input{
    position: relative;
    width:250px;
    height:30px;
    border:none;
    border-radius: 15px;
    padding-left: 10px;
}
.search form:first-child i{
    position: absolute;
    transform: translate(-30px,-12px);
    background: none;
}
.search button {
    background:none;
    border: none;
}
.search input:focus {
    outline: none;
}
.search input{
    font-family: font1;
}
/*--Other--*/
.other{
    flex: 1;
    transform: translateX(65px);
}
.other button {
    background: none;
    border: none;
}
.other i{
    color: aliceblue;
    font-size: 20px;
}
.other #users{
    transform: translateX(26px);
}