.products .box-container {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, 33rem); */
    grid-template-columns: repeat(4, 33rem);
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
    padding-top:40px;
 }