* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
}
.menu1 {
    position: absolute;
    top: calc(100% + 24px);
    right: 16px;
    width: 170px;
    min-height: 100px;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    transition: 300ms;
   
}

.menu1::before {
    content: '';
    position: absolute;
    top: -10px;
    right: 14px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
    z-index: -1;
}

.menu1.active {
    opacity: 1;
    transform: translateY(0);
    transform: translateX(-100px) !important;
    visibility: visible;
}

/* menu links */

.menu1 ul {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 10;
    background: #fff;
}

.menu1 ul li {
    list-style: none;
    
}

.menu1 ul li:hover {
    background: #eee;
}

.menu1 ul li a {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    gap: 6px;
    
}

.menu1 ul li a i {
    font-size: 1.2em;
}